.footer-component footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: #1F4B6E;
    color: whitesmoke;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
}

.footer-component footer span,
.footer-component footer div {
    margin-bottom: 0.5rem;
}

.footer-component .footer-social {
    display: flex;
    gap: 15px;
}

.footer-component .footer-social a {
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}

.footer-component .footer-social a:hover {
    color: #FFA07A;
}


@media (min-width: 768px) {
    .footer-component footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer-component footer span,
    .footer-component footer div {
        margin-bottom: 0;
    }
}
